# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  upload-release:
    runs-on: ubuntu-latest

    steps:
    - name: checkout branch
      uses: actions/checkout@v4

    - name: install python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: install requirements
      run: pip install -r requirements.txt

    - name: run python script for archive firmware
      run: python archive_binary.py ${{ github.ref_name }}

    # Release 생성 + zip 업로드 (Release Assets)
    - name: create release and upload asset
      uses: softprops/action-gh-release@v2.5.0
      with:
        tag_name: ${{ github.ref_name }}
        name: ${{ github.ref_name }}
        body_path: README.md
        draft: false
        prerelease: false
        files: archive/${{ github.ref_name }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: deploy to s3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        aws s3 cp ./archive s3://${{ secrets.AWS_S3_MODI2_MODULE_FIRMWARE_URL }} --region ap-northeast-2 --acl public-read --recursive
